@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Bem-vindo ao nosso App de Estoque</b></h1>
    <br />
    <img src="/img/estoque.jpg" alt="imagem estoque" width="300px" height="200px"/>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
